<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Days</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center" style="color: red;">
            Pet days Forum Posts
        </h1>
        <hr>
        {{!-- <table class="table">
            <thead>
                <tr>
                    <th>Vaccine</th>
                    <th>Total Usage</th>
                   
                </tr>
            </thead>
            <tbody>
                 {{#each .}}
                    <tr>
                        <td>{{vacName}}</td>
                        <td>{{}}</td>
                       
                    </tr>
                {{/each}}
            </tbody>
        </table> --}}

        <p>Approved Posts Count : {{}}</p>
        <p>Pending Post Count : {{}}</p>
        <p>Rejected Post Counr : {{}}</p>
    </div>
</body>
</html>