@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");
.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);


/* @media (prefers-reduced-motion: no-preference) { */

}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}
.btn-tra{
  height: 40px;
  width: 200px;
  margin-left: 50px;
  border: none;
  background-color: #205375;
  border-radius: 0.2rem;
  color: #fdfeff;
  padding: 5px;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  text-decoration: none;
}
.dashboard-image{
  height: 50px;
  width: 50px;
}


