@charset "UTF-8";


*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
.bg-card{
    background-color: rgb(94, 94, 94);
    color: black;
    font-size: 18px;
}
.bg-card h5{
  color: black !important;
  font-size: 20px;
  font-weight: 700;
}
.card-style{
    display: inline-block;
}
.icon-image{
    height: 50px;
    width: 50px;
}
.header-topic{
    text-decoration: none;
    
}