.card-body{
    display: flex;
}

.card-body .prof-img{
    float: right;
    width: 200px; 
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 15px;
    
}

.card-body .prof-img img{
    height: 50px;
    border-radius: 50%;
    width: 50px; 
}

.card-body .content{
    float: right;
    padding-right: 50px;
}

.card-body .content .comment{
    float: right;
    
}

.forumverifiedposts .forumverifiedposts-sidebar{
    position: fixed;
    padding-left: 80px;

  }

#new-btn{
    width: 275px;
}

.forumverifiedposts .forumverifiedposts-header{
    display: flex;
}

.forumverifiedposts .forumverifiedposts-search{
    float: right;
    padding-left: 300px;
    
}

.forumverifiedposts .forumverifiedposts-search input{
    width: 300px;
}

