.index .image{
    padding-right: 100px;
}
/* 
.index .jumbotron{
    width: 800px;
} */

.index .dow-buttons{
    padding-right: 160px;
}

/* .index .petmart-sec{
    background-color: #ffcccc;
} */
.index .petmart-sec{
    display: flex;
}

.index .petmart-sec .image-sec{
    padding-left: 70px;
}

.index .details img{
    width: 200px;
}

.index .row .petmart-image{
    padding-right: 20px;
}

#pet-talk-image{
    width: 400px;
    
}

.index .dow-button-2{
    padding-right: 20px;
}

.index .dow-button-1{
    padding-right: 50px;
}

.index .reg-btn{
    width: 100px;
}

.index .sp-sec{
    width: 300px;
}
.background-div{
    background-image: url("../images/back.jpg");
    height: 400px;
    width: 100%;
}
.index .pt-5{
    padding-top: 100px !important;
}