.login .imagesize{
   width: 400px;
   height: 400px;
}
.login .color{
    background-color: #15e676;
}
.login .logo{
    width: 100px;
    /* background-size: cover; */
    margin-left: 4%;
    /* margin-right: 50%; */
}