.card-body{
    display: flex;
}

.mdadvertisments .card-body .add-img{
    float: right;
    width: 200px; 
    padding: 20px;
    padding-right: 40px;
    padding-top: 10px;
    
}

.mdadvertisments .card-body .add-img img{
    height: 100px;
    width: 100px; 
}

.card-body .content{
    float: right;
    padding-right: 50px;
}

.card-body .content .comment{
    float: right;
    padding-right: 100px;
    
}

.forum .forum-sidebar{
    position: fixed;
    padding-left: 80px;

  }

#new-btn{
    width: 275px;
}

.forum .forum-header{
    display: flex;
}

.forum .forum-search{
    float: right;
    padding-left: 300px;
    
}

.forum .forum-search input{
    width: 300px;
}

/* .forum .forum-header{
    position: fixed;
} */
.mdadvertisments .des{
    width: 400px;
}