.card-body{
    display: flex;
}

.card-body .prof-img{
    float: right;
    width: 200px; 
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 15px;
    
}

.card-body .prof-img img{
    height: 50px;
    border-radius: 50%;
    width: 50px; 
}

.card-body .content{
    float: right;
    padding-right: 50px;
}

.mdpendingposts .card-body .content .comment{
   
    display: flex;

    
}

.card-body .content .comment .button-1{
    float: right;

}
.card-body .content .comment .button-2{
    float: right;

    
}

.btn-link{
    text-decoration: none;
    color: aliceblue;
    font-weight: 500;
 }

 .comment button{
    background: #a3c585;
   padding: 15px 14px;
   border-radius: 12px;
   box-shadow: 0 5px 10px rgba(0,0,0,0.1);
   width: 200px;
   border: none;
   margin-right: 55px;
 }

.forum .forum-sidebar{
    position: fixed;
    padding-left: 80px;

  }

#new-btn{
    width: 275px;
}

.forum .forum-header{
    display: flex;
}

.forum .forum-search{
    float: right;
    padding-left: 300px;
    
}

.forum .forum-search input{
    width: 300px;
}

/* .forum .forum-header{
    position: fixed;
} */