.viewadd-imagesize{
    width: 400px !important;
    height: 300px!important;
    margin-bottom: 10px;
}
.viewadd-cnimagesize{
    width: 40px !important;
    height: 30px!important;
    margin-bottom: 10px;
}
.viweadd-buttonlocation{
    margin-top: 10px !important;

}

.forum .forum-sidebar{
    position: fixed;
    padding-left: 80px;

  }

#new-btn{
    width: 275px;
}

.forum .forum-header{
    display: flex;
}

.forum .forum-search{
    float: right;
    padding-left: 300px;
    
}

.forum .forum-search input{
    width: 300px;
}

/* .forum .approve-btn{
    padding-left: 100px;
} */
