.names{
    font-size: 14px;
    color: #754a00;
    font-weight: 500;
}

.ico{
    color: #040504;
}
/* .sidebar{
    position: fixed;
    height: 100%;
} */

.side-color{
   background-color: #dddddd;
    height: auto;
    /* padding-left: 35px; */
    padding-bottom: 900px;
}
.nav-item{
    padding: 0px;
}