.logo{
    width: 100px;
    /* background-size: cover; */

    margin-left: 100px;
    margin-right: 750px;

}

.nav-link h4{
    color: #ca8403;
    font-size: 18px;
    text-transform: uppercase;
}
.nav-link h4:hover{
    color: #000000;  
}
.btn-image{
    height: 70px;
    width: 70px;
    animation: animate 1s linear infinite;
}
@keyframes animate{
    0%{
        filter: hue-rotate(0deg);
    }
    0%{
        filter: hue-rotate(360deg);
    }
}
