.crd-tiles{
   width: 20rem !important;
   padding: 10px !important;
}
.select-btn{
   padding: 50px;

}
.add{
   background: #a3c585;
   padding: 15px 14px;
   border-radius: 12px;
   box-shadow: 0 5px 10px rgba(0,0,0,0.1);
   width: 200px;
   border: none;
   margin-right: 55px;
}
.edit{
   background: #a3c585;
   padding: 15px 14px;
   border-radius: 12px;
   box-shadow: 0 5px 10px rgba(0,0,0,0.1);
   width: 200px;
   border: none;

}
.btn-link{
   text-decoration: none;
   color: aliceblue;
   font-weight: 500;
}
.cards .card{
   height: 425px;
}
.btn-res{
    height: 50px;
    width: 90px;
    margin-left: 5px;
    border: none;
    background-color: #768a63;
    border-radius: 0.2rem;
    color: #fdfeff;
    padding: 5px;
    border: 1.8px solid black;
    border-color: #95ac81;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-decoration: none;
}
.row .cards{
   margin-left: 20px;
}
.buttons_cont{
	box-shadow: 1px 2px 2px 2px #efefef;
	padding:3em;
}
.btn-div{
   margin-top: 350px;
}
.btn-result{
   height: 150px;
    width: 90px;
    margin-left: 5px;
    border: none;
    background-color: #768a63;
    border-radius: 0.2rem;
    color: #fdfeff;
    padding: 40px;
    border: 1.8px solid black;
    border-color: #95ac81;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-decoration: none;
}
.btn-result:hover{
   color: #fdfeff;
}