/* .petmart-cardsize{
    width: 430px;
    
    margin-left: 20px;
    margin-bottom:20px;
    margin-top: 20px;
    
}
.petmart-cardtext{
    margin-left: 70px;
    margin-right: 40px;
}

.petmart-image{
    height: 300px;
}
.pemart-page{
    margin-top: 100px;
}

.round-button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 2px;
    border-radius: 50%;
  }

  .square-button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 2px;
    border-radius: 12px;
  }

  .petmart.forum-header{
    display: flex;
}

.petmart.forum-search{
    float: right;
    padding-left: 300px;
    
}
.petmart .cards{
    
        margin: 0 auto;
        max-width: 1000px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
        grid-auto-rows: auto;
        gap: 20px;
        font-family: sans-serif;
        padding-top: 30px;
    
}
.petmart.forum-search input{
    width: 300px;
}
.petmart-cardmargins{
    margin-left: 100px !important;
    margin-right: 10px !important;
}
.petmart-cardspace{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
} */

/* .petmart .details{
    padding-right:300px;
} */

.petmart-container{
    
    height:100vh;
}

.petmart-card {
    background-color: #fdfdfd;
    width: 360px;
    padding: 10px;
    border: 1px solid #eee
}

.petmart-inner-card {
    background: #fff;
    padding: 10px;
    border-radius: 5px
}

.petmart-heart {
    cursor: pointer;
    height: 35px;
    width: 35px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #beb4aa;
    border-radius: 50%;
    background-color: #eee
}

.btn:focus {
    color: #fff;
    background-color: #025ce2;
    border-color: #0257d5;
    box-shadow: none
}

.butn-color{
    background-color: #042658 ;
}