.bgimage .postPage{
  display: flex;
  
}
.be-comment-time {
  padding-left: 15px;
  font-size: 15px;
  color: #b4b7c1;
}
.bgimage .postPage .post{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border: 1px solid #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: fixed;
  }
  
  .bgimage .postPage .post:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
  }
  
  .bgimage .postPage .post .title{
    height: 20%;
    border-bottom: 1px solid lightgray;
    background-color: #828385 ;
    display: grid;
    place-content: center;
    color: #000;
    text-transform: capitalize;
  }
  
  .bgimage  .postPage .post .body {
    height: 70%;
    display: grid;
    place-content: center;
  }
  
  .bgimage  .postPage .post .footer{
    height: 20%;
    border-top: 1px solid lightgray;
    align-items: center;
    padding-left: 15px;
    background-color: #A0A1A4;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    size: 20px;
  }

  .bgimage  .postPage .post .footer .lefttext{
  color: #000;
   font-size: 15px;
  }
  .bgimage  .postPage .post .footer .righttext{
    color: #000;
    padding-left: 230px;
    font-size: 15px;
  }
  /* INDIVIDUAL POST */
  .bgimage .postPage {
    display: flex;
    flex-direction: row;

  }
  
  .bgimage .postPage .leftSide {
    flex: 50%;
    display: grid;
  }
  
  .bgimage .postPage .rightSide {
    flex: 80%;
    display: grid;
    place-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .bgimage .postPage .rightSide .addCommentContainer{
    width:400px;
    display: grid;
    place-items: center;
    margin-top: 25px;
  }
  
  .bgimage  .postPage .addCommentContainer input{
    width: 1000px;
    height: 70px;
 border-radius: 5px;
    padding-left: 10px;
  }
  
  .bgimage  .postPage .addCommentContainer button {
    background-color: #828385;
    color: white;
    border-radius: 8px;
  }
  
  .bgimage .postPage .addCommentContainer input {
    border: 2px solid #828385;
  }
  
  .bgimage  .postPage .rightSide .listOfComments {
    flex: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .bgimage .postPage .listOfComments .comment {
    width: 70%;
    height: auto;
    padding: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .bgimage .postPage #individual {
    height: 500px;
    width: 700px;
  }
  
  .bgimage .postPage #individual .title,
  #individual .footer {
    font-size: 30px;
  }
  
  .bgimage  #individual .body {
    font-size: 25px;
  }
  
  /* LOGIN */
  
  .bgimage.postPage .loginContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
  }
  
  .bgimage .postPage .loginContainer input,
  button {
    width: 200px;
    height: 50px;
    border-radius: 8px;
    border: none;
    margin: 10px;
  }
  