.register-imagesize{
    width: 280px;
   /* margin-left: 50px; */
   /* margin-top: 1px;
   margin-bottom: 20px; */
 }
 .color{
     background-color: #15e676;
 }
 .logo{
     width: 50px;
     /* background-size: cover; */
     margin-left: 4%;
     /* margin-right: 50%; */
 }
 .register-inputfieldwidth{
     width: 500px;
 
 }
 .register-cardsize{
     width: 1000px;
     height:670px;
 
 }
 .register-cardmargins{
     margin-left:30px;
     margin-right:30px ;
 }
 .register.loginbuttonsize{
     width: 4cm;
     height:2cm ;
 
 }
 .register.caption{
     font-weight: 600;
 }
 
 .registererror{
    color: red;
    font-size: 12px;
}
.infotext{
    font-size: 12px;
}
 .register.bgimage {
     background-image: 
     url(
   "https://img.freepik.com/premium-vector/pets-cats-dogs-seamless-pattern-doodle-style_341076-283.jpg?w=2000");
     background-size: "cover";
     height: 100vh;
     margin-top: -70px;
     font-size:50px;
     background-repeat:no-repeat; 
   }
 