#side-nav{
    background-color: black;
    min-width: 250px;
    max-width: 250px;
}

.content{
    min-width: 100vh;
    height: 100%;
}
.fa-stream{
    height: auto;
    width: 20px;
}
hr.h-color{
    background: #000;
}
.sidebar li.active{
    background: #EEE;
    border-radius: 8px;
}
.sidebar li.active a, .sidebar li.active a:hover{
    color: #000;
}

.sidebar li a{
    color: #EEE;
}

.btn-tile{
    height: 80px;
    width: 400px;
    min-width: 200px;
    margin: 10px;
    border: none;
    color: #000;
}
.btn-tile h{
    font-size: 20px;
}
.tile{
    border: none;
    color: rgb(8, 8, 8);
    padding: 15px 32px;
    text-align: center;
}
.side-color{
    background-color: #B3CF99;
}

.form-class{
   padding-top: 50px;
   padding-left: 50px;
}
