#side-nav{
    background-color: black;
    min-width: 250px;
    max-width: 250px;
}

.content{
    min-width: 100vh;
    height: 100%;
}
.fa-stream{
    height: auto;
    width: 20px;
}
hr.h-color{
    background: #000;
}
.sidebar li.active{
    background: #EEE;
    border-radius: 8px;
}
.sidebar li.active a, .sidebar li.active a:hover{
    color: #000;
}

.sidebar li a{
    color: #EEE;
}

.card{
    background-color: #000;
}

.btn-tile{
    height: 80px;
    width: 400px;
    min-width: 200px;
}