.names{
    font-size: 14px;
    color: #0f3923;
    font-weight: 500;
}

.ico{
    color: #0f3923;
}
.sidebar{
    position: fixed;
    height: 100%;
}

.side-color{
    background-color: #B3CF99;
}
.nav-item{
    padding: 0px;
}