.viewadd-imagesize{
    width: 400px !important;
    height: 300px!important;
    margin-bottom: 10px;
}
.viewadd-cnimagesize{
    width: 40px !important;
    height: 30px!important;
    margin-bottom: 10px;
}
.viweadd-buttonlocation{
    margin-top: 10px !important;

}
.viewadd-hedder{
    margin-top: 20px;
}